@import "tailwindcss";

@theme {
  --color-main: #ff93e6;
  --color-sub: #ffffff;
  --color-black: #1a1a1a;
  --bg-backButton: #ee5e6d;
  --text-xxs: 0.64rem;
  --text-xxxs: 0.6rem;
}

html,
body,
#root {
  height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
  /* font-family: 'Roboto', sans-serif; */
}

@theme inline {
  --animate-pulse: pulse var(--duration) ease-out infinite;

  @keyframes pulse {
    0%,
    100% {
      box-shadow: 0 0 0 0 var(--pulse-color, #ffffff);
      opacity: 0.8; /* Start semi-transparent */
    }
    50% {
      box-shadow: 0 0 0 var(--pulse-spread, 8px) var(--pulse-color, #ffffff);
      opacity: 0.5; /* Fade out as it expands */
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes swing-pointer {
  0% {
    transform: translateX(-50%) rotate(-50deg);
  }
  50% {
    transform: translateX(-50%) rotate(50deg);
  }
  100% {
    transform: translateX(-50%) rotate(-50deg);
  }
}

.swing-pointer {
  animation: swing-pointer 2s ease-in-out infinite;
  transform-origin: 50% 100%;
}